{% extends 'backAdmin.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>Ajouter une catégorie</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('app_category_index') }}">Liste des catégories</a>
{% endblock %}
