<!-- templates/emails/password_reset.html.twig -->
{% block subject %}Your new password{% endblock %}

{% block body %}
    <p>Hello {{ user.username }},</p>

    <p>Your new password is: {{ password }}</p>

    <p>Please change your password as soon as possible.</p>

    <p>Best regards,</p>
    <p>Your team</p>
{% endblock %}